extends layout/index.pug

block content
  section.seccionJuegos
    //- Juego 1
    if videojuego && videojuego.length > 0
      each juego in videojuego
        .juegos
          .card
            img(src=juego.image_src, alt=juego.title, width="500px", class="card-img-top")
            .card-body
              h4= juego.title
              span.release-date= juego.description
              center
                button.btn.btn-dark.juego(data-id="1") Agregar al carrito
    else 
      p No hay videojuegos disponibles
