extends layout/index

block content
  section.product-list
    if videojuego && videojuego.length > 0
      each juego in videojuego
        article.product
          img(src=juego.image_src, alt=juego.title)
          h2= juego.title
          span.release-date= juego.release_date
    else
      p No hay videojuegos disponibles