<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!--- estilos  -->
    <link rel="stylesheet" href="../../../public/CSS/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>gamerFes</title>
</head>
<body>
    <header class="navegacion">
        <nav>
            <a><img src="../../../public/IMG/consola.png" width="40" height="40" alt="shopGame"></a>
            <a href="#"><button class="btn"><p class="colorNav">NINTENDO</p></button></a>
            <a href="#"><button  class="btn"><p class="colorNav">PLAYSTATION</p></button></a>
            <a href="#"><button class="btn"><p class="colorNav">XBOX</p></button></a>
            <a href="../../usuario/infoUsuario/usuario.html"><img src="../../../public/IMG/usuario.png" id="imgUsuario" width="40" height="40" alt="usuario"></a>
            <button class="btn" id="carrito"><img src="../../../public/IMG/carrito.png" width="40" height="40"></button>
        </nav>
        <div id="cesta"></div>
    </header>
   <main class="contenidoPrincipal">
        <div class="titulo">
            <h1 class="tituloConsola">NINTENDO</h1>
        </div>
        <section class="seccionJuegos">
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/among.jpeg" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>AMONG US</h5>
                        <p class="card-text">$100.00MX</p>
                        <center><button class="botonCard" id="juego1" data-id=1>Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/mariobrosWonder.webp" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>SUPER MARIO BROS WONDER</h5>
                        <p class="card-text">$700.00MX</p>
                        <center><button class="botonCard" id="juego2" data-id="2">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/marioKart.avif" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>Mario Kart 8 DELUXE</h5>
                        <p class="card-text">$800.00MX</p>
                        <center><button class="botonCard" id="juego3" data-id="3">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/marioVSdonke.jpg" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>Mario vs Donkey Kong</h5>
                        <p class="card-text">$760.00MX</p>
                        <center><button  class="botonCard" id="juego4" data-id="4">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/smahsBros.jpg" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>SUPER SMAHS BROS ULTIMATE</h5>
                        <p class="card-text">$800.00MX</p>
                        <center><button  class="botonCard" id="juego5" data-id="5">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/zeldaKingdom.avif" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>THE LEGEND OF ZELDA</h5>
                        <p class="card-text">$800MX</p>
                        <center><button  class="botonCard" id="juego6" data-id="6">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/zeldaEchoes.avif" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>THE LEGEND OF ZELDA ECHOES</h5>
                        <p class="card-text">$900MX</p>
                        <center><button  class="botonCard" id="juego7" data-id="7">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
            <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/detectivePikachu.avif" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>DETECTIVE PICKACHU: EL REGRESO</h5>
                        <p class="card-text">$850MX</p>
                        <center><button  class="botonCard" id="juego8" data-id="8">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
               <div class="juegos"> 
                <div class="card" style="width: 400px;">
                    <img src="../../../public/IMG/nintendo/marioParty.avif" width="398px" alt="shopGame" class="cardIMG">
                    <div class="card-body">
                        <h5>SUPER MARIO PARTY JAMBOREE</h5>
                        <p class="card-text">$900MX</p>
                        <center><button  class="botonCard" id="juego9" data-id="9">Agregar al carrito</button></center>
                    </div>
                </div>
            </div>
        </section>
   </main>
   <div class="secciones">
            <a href="nintendo.html" class="btn  btn-outline-dark btnSeccion" id="seccionBTN1">1</a>
            <a href="nintendoDos.html" class="btn  btn-outline-dark btnSeccion" id="seccionBTN2">2</a>
            <a href="nintendoTres.html" class="btn  btn-outline-dark btnSeccion" id="seccionBTN3">3</a>
   </div>
   <br>
   <br>
    <footer>     
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.instagram.com/king.photography10/">
                <img src="../../../public/IMG/logos/social.png" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/profile.php?id=100063596678151">
                <img src="../../../public/IMG/logos/facebook.png" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="https://www.tiktok.com/@king.photography10">
                <img src="../../../public/IMG/logos/tik-tok (1).png" width="35" height="35">
                </a>
            </li>
        </ul> 
    </footer>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../../../public/JS/productos/productos.js"></script>
</body>
</html>