extends ../layout/index

block content
  section.login-container
    h2 Iniciar Sesión
    form(action="/login", method="POST")
      label(for="email") Email
      input(type="email", name="email", required, placeholder="Introduce tu correo electrónico")
      label(for="passwd") Contraseña
      input(type="password", name="passwd", required, placeholder="Introduce tu contraseña")
      button(type="submit") Iniciar Sesión
