footer
  ul.nav.justify-content-center
    li.nav-item
      a.nav-link.active(aria-current='page' href='https://www.instagram.com/king.photography10/')
        img(src='/img/logos/social.png' width='35' height='35')
    li.nav-item
      a.nav-link(href='https://www.facebook.com/profile.php?id=100063596678151')
        img(src='/img/logos/facebook.png' width='35' height='35')
    li.nav-item
      a.nav-link(href='https://www.tiktok.com/@king.photography10')
        img(src='/img/logos/tik-tok (1).png' width='35' height='35')
