header.top-bar
  div.logo
    img(src="/path/to/logo.png", alt="Logo de la Empresa")
  div.search-bar
    input(type="text", placeholder="Buscar videojuegos...") 
    button(type="submit") Buscar
  div.panels
    a(href="/ingreso/registro")
      button#user-panel-toggle Usuario
    a(href="/pedidos")
      button#orders-panel-toggle Pedidos
    a(href="/carrito")
      button#cart-panel-toggle Carrito
