doctype html
html
  head
    title Tienda de Videojuegos
    link(rel="stylesheet", href="/css/app.css")
    script(src="/path/to/your/script.js")
  body
    include header.pug
    include nav.pug
    main
      block content
    include footer.pug
