nav.filter-bar
  ul
    li.filter-option#filter1
      button(type="button") Filtro 1
    li.filter-option#filter2
      button(type="button") Filtro 2
    li.filter-option#filter3
      button(type="button") Filtro 3
