nav.navegacion
  a(href="#")
    img(src="/img/consola.png" width="40" height="40" alt="shopGame")
  a(href="#")
    button.btn
      p.colorNav NINTENDO
  a(href="#")
    button.btn
      p.colorNav PLAYSTATION
  a(href="#")
    button.btn
      p.colorNav XBOX
  button.btn
    img(src="/img/verificar.png" width="40" height="40")
  a(href="/info/usuario")
    img(src="/img/usuario.png" id="imgUsuario" width="40" height="40" alt="inicio")
