extends ../layout/index.pug

block content
    .colapso
    button#infoPersonal.btn.btnColapso
        p.textoBoton Informacion personal
    #colapso1.contenidoColapso
    .colapso
    button#verDomicilio.btn.btnColapso
        p.textoBoton Ver domicilios
    #colapso2.contenidoColapso
    .colapso
    button#agregarDomicilio.btn.btnColapso
        p.textoBoton Agregar domicilio
    #colapso3.contenidoColapso
    .colapso
    button#verTarjeta.btn.btnColapso
        p.textoBoton Ver tarjetas
    #colapso4.contenidoColapso
    .colapso
    button#agregarTarjeta.btn.btnColapso
        p.textoBoton Agregar tarjeta
    #colapso5.contenidoColapso